.half {
  width: 50vw;
}
svg {
  width: 100%;
  height: 100%;
}

path {
  fill: none;
  stroke: #000;
}

/* tooltip */
#tooltip {
  position: absolute;
  /*width: 200px;*/
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.4);
  pointer-events: none;
}
#tooltip span {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.white {fill: #fff;}

