/* general */
body {
  /* background: #000000; */
}

svg {
  width: 100%;
  height: 100%;
}

path {
  fill: none;
  stroke: #000;
}



/* tooltip */
#tooltip {
  position: absolute;
  /*width: 200px;*/
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.4);
  pointer-events: none;
}
#tooltip span {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

/* structure */
.chart-container {
  /*width: 650px;*/
  /*height: 650px;*/
  /*background-color: #e8e8e8;*/
  display: inline-block;
}

.about {
  font-size: .7em;
}

#map_container {
  /*height: 500px;*/
}

/* osm road map */
.major_road {
  stroke: #444;
}
.minor_road {
  stroke: #bbb;
}
.highway {
  stroke: #111;
  stroke-width: 1.5px;
}

/* neighborhood map */
.neighborhood {
  fill: rgb(177, 168, 153, 0.5);
  stroke: #383838;
}
.neighborhood:hover {
  fill: rgb(247, 91, 68, 0.5);
}

/* colors */
.blues.q0-9 {fill: #f7fbff;}
.blues.q1-9 {fill: #deebf7;}
.blues.q2-9 {fill: #c6dbef;}
.blues.q3-9 {fill: #9ecae1;}
.blues.q4-9 {fill: #6baed6;}
.blues.q5-9 {fill: #4292c6;}
.blues.q6-9 {fill: #2171b5;}
.blues.q7-9 {fill: #08519c;}
.blues.q8-9 {fill: #08306b;}
.reds.q0-9 {fill: #fff5f0;}
.reds.q1-9 {fill: #fee0d2;}
.reds.q2-9 {fill: #fcbba1;}
.reds.q3-9 {fill: #fc9272;}
.reds.q4-9 {fill: #fb6a4a;}
.reds.q5-9 {fill: #ef3b2c;}
.reds.q6-9 {fill: #cb181d;}
.reds.q7-9 {fill: #a50f15;}
.reds.q8-9 {fill: #67000d;}
.greens.q0-9 {fill: #f7fcf5;}
.greens.q1-9 {fill: #e5f5e0;}
.greens.q2-9 {fill: #c7e9c0;}
.greens.q3-9 {fill: #a1d99b;}
.greens.q4-9 {fill: #74c476;}
.greens.q5-9 {fill: #41ab5d;}
.greens.q6-9 {fill: #238b45;}
.greens.q7-9 {fill: #006d2c;}
.greens.q8-9 {fill: #00441b;}
.purples.q0-9 {fill: #fcfbfd;}
.purples.q1-9 {fill: #efedf5;}
.purples.q2-9 {fill: #dadaeb;}
.purples.q3-9 {fill: #bcbddc;}
.purples.q4-9 {fill: #9e9ac8;}
.purples.q5-9 {fill: #807dba;}
.purples.q6-9 {fill: #6a51a3;}
.purples.q7-9 {fill: #54278f;}
.purples.q8-9 {fill: #3f007d;}
.oranges.q0-9 {fill: #fff5eb;}
.oranges.q1-9 {fill: #fee6ce;}
.oranges.q2-9 {fill: #fdd0a2;}
.oranges.q3-9 {fill: #fdae6b;}
.oranges.q4-9 {fill: #fd8d3c;}
.oranges.q5-9 {fill: #f16913;}
.oranges.q6-9 {fill: #d94801;}
.oranges.q7-9 {fill: #a63603;}
.oranges.q8-9 {fill: #7f2704;}
.grays.q0-9 {fill: #ffffff;}
.grays.q1-9 {fill: #f0f0f0;}
.grays.q2-9 {fill: #d9d9d9;}
.grays.q3-9 {fill: #bdbdbd;}
.grays.q4-9 {fill: #969696;}
.grays.q5-9 {fill: #737373;}
.grays.q6-9 {fill: #525252;}
.grays.q7-9 {fill: #252525;}
.grays.q8-9 {fill: #000000;}
.diverging.q0-9 {fill: #762a83;}
.diverging.q1-9 {fill: #9970ab;}
.diverging.q2-9 {fill: #c2a5cf;}
.diverging.q3-9 {fill: #e7d4e8;}
.diverging.q4-9 {fill: #f7f7f7;}
.diverging.q5-9 {fill: #d9f0d3;}
.diverging.q6-9 {fill: #a6dba0;}
.diverging.q7-9 {fill: #5aae61;}
.diverging.q8-9 {fill: #1b7837;}

.white {fill: #fff;}

